<head>
<title> minu ch2tt! </title>
<link rel="stylesheet" type="text/css" href="style.css"> <link/>
</head>

<body>
	<div id="jutt"></div> <!-- div on sektsioon või osa HTML tekstist -->

	<form>
	<input id="username" value="Maarja" placeholder="kasutaja"/>  <!-- annan fieldile nime -->
	<input id="message"  placeholder= "sonum"/> <!-- placeholder annan nime -->
	<input type="submit"> <!-- lisan submit nupu -->
</form>

<script src="scrypt.js"></script>
</body>



