<head>
	<title>Minu kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css"> <link/>

</head>
<body>
	<h1> suur pealkiri <h1/>
		<p> slslslslslsls
		</p>
		<p> Tere <input= nimeInput.value/>
		<ul>
			<li> essa </li>
		</ul>
		<form>
			<input id="nimi" placreholder="trüki siia"/>
			<input type="checkbox"/>
			<input type="range"/>
			<input type="submit">
			<input type="date">


		</form>
		<img width="100" src="https://www.google.ee/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"/>

<script src="script.js"></script>

</body>